#wrap {
  width: 100%;
}
#header {
  width: 100%;
  height: 325px;
  background: url(./img/header_bg.jpg) center top;
}
#contents {
  width: 100%;
  height: 800px;
  background: #222;
}
#footer {
  width: 100%;
  height: 200px;
  background: #111;
}

.container {
  width: 900px;
  background: rgba(253, 253, 253, 0.3);
  margin: 0 auto;
  height: inherit;
}
.header-menu {
  display: flex;
  justify-content: flex-end;
}
.header-menu a {
  padding: 0 0.8rem;
}

.header-title {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.header-title a {
  margin: -10px;
}

.header-icon {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.header-icon a {
  background: url(./img/icon.png);
  width: 60px;
  height: 60px;
  margin: 10px;
}

a.icon1 {
  background-position: 0 0;
}
a.icon2 {
  background-position: 0 -60px;
}
a.icon3 {
  background-position: 0 -120px;
}
a.icon4 {
  background-position: 0 -180px;
}

a.icon1:hover {
  background-position: -60px 0;
}
a.icon2:hover {
  background-position: -60px -60px;
}
a.icon3:hover {
  background-position: -60px -120px;
}
a.icon4:hover {
  background-position: -60px -180px;
}

.content-nav {
  display: flex;
  width: 100%;
}

.content-nav > div ol li {
  display: inline-block;
  width: 150px;
}

.content-nav > div h3 {
  font-size: 18px;
  color: #25a2d0;
  margin-bottom: 4px;
}

.content-title{
    display:flex;
    align-items: center;
    justify-content: center;
}

.content-title h3{
    font-size: 30px;
    color: #25a2d0;
    transform: translateX(40px);

}

.content-title > a{
    width: 60px;
    height: 60px;
    transform: translateX(220px);
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(./img/icon.png) no-repeat 0 -600px;

}